.about {
    background-color:  #df5646;
    font-weight: bold;
    color: #fff;

    &_title {
        color:  #78add9;
        font-size: 60px;
    }

    &_avatar {
        height: 180px;
        width: 180px;
        border: 7px solid #78add9;
    }

    &_btn-cv {
        height: 50px;
        border-color: #fff;
        background-color: rgba($color: #fff, $alpha: 1.0);
        color: #df5646;
        font-weight: bold;
    }

    &_description {
        text-align: center;
    }

    &_description span {
        color: #78add9;
    }
}

@media (min-width: 768px) {
    .about {
        &_title {
            text-align: right !important;
            padding: 20px 20px 0 0;
        }

        &_avatar {
            height: 220px;
            width: 220px;
        }

        &_description {
            font-size: 20px;
            text-align: left;
        }

        &_btn-cv {
            margin-bottom: 20px;
        }
    
    }
}

@media (min-width: 992px) {
    .about {
        &_title {
            padding: 20px 20px 0 0;
        }

        &_avatar {
            height: 280px;
            width: 280px;
        }

        &_description {
            font-size: 24px;
            text-align: left;
            padding-right: 10px;
        }

        &_btn-cv {
            margin-bottom: 20px;
            height: 60px;
            width: 250px;
            font-size: 25px;
        }
    
    }
}

@media (min-width: 1200px) {
    .about {
        &_title {
            font-size: 75px;
            padding: 20px 20px 0 0;
        }

        &_avatar {
            height: 300px;
            width: 300px;
        }

        &_description {
            font-size: 28px;
            text-align: center;
            padding-right: 30px;
        }
    }
}