.footer {
    a {
        color: #000;
    }

    a:hover {
        color:  #df5646;
    }

    p {
        font-weight: 600;
        font-size: 14px;
    }

    &_btn {
        background: transparent;

        &--link {
            font-size: 50px;
        }
    }

    &_social-icon {
        padding: 0 5px;
        font-size: 35px;
    }

}
